.dash-h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  /* font-family: Cabin, sans-serif; */
  font-family: 'Lora', serif;
}

.dash-title {
  font-size: 28px;
  font-weight: 500;
  color: #00917c;
  font-family: 'Lora', serif;
  padding-top: 20px;
}
