.header {
  margin-top: -2rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  padding: 0rem 1rem;
}

.header-h1 {
  padding-top: 18px;
  font-size: 36px;
  font-weight: 700;
}

.header-ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.header-li {
  font-size: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #fff;
  position: relative;
  opacity: 1 !important;
}

.header-bt {
  color: #fff;
  height: 30px;
  background-color: #00917c;
  border-radius: 30px;
  border-color: transparent;
  font-size: 12px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 10px;
    line-height: 1;
    font-weight: 200;

    margin-top: -1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: transparent;
    padding: 0rem 0.5rem;
  }

  .header-h1 {
    padding-top: 12px;
    font-size: 24px;
    font-weight: 500;
  }

  .header-ul {
    padding-inline-start: 40px;
  }

  .header-li {
    font-size: 12px;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    padding-left: 8px;
    padding-right: 0;
    font-weight: 400;
    color: #fff;
    position: relative;
    opacity: 1 !important;
  }

  .header-bt {
    color: #fff;
    height: 20px;
    align-items: center;

    /* padding-bottom: 4px; */
    background-color: #00917c;
    border-radius: 14px;
    border-color: transparent;
    font-size: 8px;
  }

  .navbar-nav {
    align-items: center;
  }
}
