.form {
  box-sizing: border-box;
  padding: 45px;
  /* width: 30%; */
  border: 1px solid #ebebeb;
  background: #fff;
  border-radius: 5px;
  /* position: absolute; */
}

.form-fill {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form-h1 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 1.75rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.form-bt {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #00917c;
}

.form-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex: 0 0 100%;
  width: 100%;
}

.form-size {
  width: 100%;
}
