.section-room {
  display: flex;
  flex-direction: row;
  margin: 30px;
  gap: 30px;
}

.room-container {
  width: 30%;
  text-align: center;
  margin-left: 2rem;
  padding: 2rem 1rem;
}

.room-span {
  font-size: 14px;
  color: #00917c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.room-h2 {
  font-size: 44px;
  color: #19191a;
  line-height: 58px;
  margin-top: 10px;
  margin: 1rem 0;
  font-weight: 400;
  font-family: 'Lora', serif;
}

.img {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 44px;
  color: #19191a;
  line-height: 58px;
  margin-top: 10px;
  font-weight: 400;
  font-family: 'Lora', serif;
  text-align: center;
}

.para {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  color: #6b6b6b;
  line-height: 26px;
  margin: 0 0 15px 0;
}

@media screen and (max-width: 1024px) {
  .section-room {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    gap: 0;
  }

  .room-container {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 600px) {
  .section-room {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 0;
  }

  .room-container {
    width: 100%;
    text-align: center;
    margin-left: 2rem;
    padding: 2rem 0;
  }
}
