.sign-container {
  border: 1px solid #00917c;
  width: 30%;
  height: 400px;
  border: 1px solid #00917c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-h1 {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
  color: #00917c;
}

.sign-h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  font-family: 'Lora', serif;
  color: #00917c;
}

.sign-p {
  margin-top: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Lora', serif;
  color: #00917c;
}
